.header{
  background-color: lightgrey;
  padding:10px;
  display:flex;
  gap:100px;
  align-items: center;
}

.links{
  text-decoration: none;
  color:rgb(68, 68, 68);
  font-size:2rem;
  margin:10px 20px;
}
.links:hover{
  text-decoration: none;
  color:rgb(119, 119, 119);
}